libboost-filesystem-dev
libboost-random-dev
libboost-system-dev 
libcairomm-1.0-dev
libcrypto++-dev
libeigen3-dev
libfcgi-dev
libfuse-dev
libgflags-dev
libglew-dev
libglfw3-dev
libgoogle-glog-dev
libgtkmm-3.0-dev
libprotobuf-dev
libre2-dev
libsoci-dev
libtclap-dev
libtinyxml2-dev
libxcomposite-dev
libyaml-cpp-dev
openjdk-11-jdk
protobuf-compiler
